*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #171810;
    font-family: poppins;
}
/*Estilizando Cabeçalho */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;

}

.positiondiv{
    display: flex;
    height: 100%;
}

.logo{
    width: 90px;
    height: 90px;
    margin-left: 3rem;
}
/*Estilizando Lista Nav*/
.navicons{
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-right: 40px;
}
.navicons li{
    margin: 20px;
}
.main-nav a{
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
}
.main-nav a :hover{
    color: #7c0109;
    transform: scale(1.5);            
}
.search{
    width: 500px;
    height: 50px;
    border: 1px solid #7c0109;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    padding-left: 10px;
}
.material-symbols-outlined{
    font-size: 30px;
}
/*Fim Estilização Header*/

/*Estilizando Main*/

.filter-container{
    border-right: 2px solid #7c0109;
    margin-top: 30px;
    height: 100%;
}

/*Inicio estilo Filtros pesquisa*/
.slidin{
    width: 100%;
}

.filter-container{
    font-size: 25px;
    width: 310px;
    height: 100%;
}

.filter-price-container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    cursor: pointer;
    color: white;
}
.filter-price-container h4{
    width: 100%;
    padding-left: 10px;
    color: #7c0109;
}

.filter-price {
    display: flex;
    border-bottom: 2px solid #7c0109;
    flex-direction: column;
    height: 100px;
    align-items: center;
    justify-content: center;
    width: 250px;
}
.filter-price input{
    color: white;
    border: 1px solid #7c0109;
    border-radius: 10px;
    padding-left: 10px;
}



.filter-category-container, .filter-brand-container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    cursor: pointer;
    color: white;
}

.filter-category-container h4, .filter-brand-container h4{
    width: 100%;
    padding-left: 10px;
    padding-top: 4px;
    color: #7c0109;

}

.filter-category{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 160px;
    border-bottom: 2px solid #7c0109;
    padding-left: 10px;
}
.filter-category ul, .filter-brand ul{
    list-style-type: none;
    font-size: 20px;
}

.filter-brand{
    display: flex;
    border-bottom: 2px solid #7c0109;
    flex-direction: column;
    height: 170px;
    justify-content: center;
    width: 250px;
    cursor: pointer;
    padding-left: 10px;
}
/*Fim Filtro Pesquisa*/

/*Inicio Card produtos*/
.products-section{
    padding: 10px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.product-card{
    width: 300px;
    height: 501px;
    display: flex;
    flex-direction: column;
    color: white;   
    cursor: pointer;
}
.product-card .price{
    color: green;
    font-size: 20px;
}
.product-card .material-symbols-outlined{
    opacity: 0;
    color: red;
    position: relative;
    background-color: white;
    top: -285px;
    left: 250px;
    width: 30px;
}
.product-card img{
    width: 300px;
    height: 300px;
}

.product-card:hover .material-symbols-outlined{

    animation: like 100s forwards ;
}

@keyframes like {
    to{
        opacity: 0;
    }
    from{
        opacity: 1;
    }
    
}

.product-card img{
   width: 306;
   height: 306;
   border-radius: 15px;
}

