<!-- Permite adicionar informações ao cliente, que posteriormente serão utilizadas no CRUD -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes HTML</title>
</head>
<body>
    <input type="text" id="codigo" placeholder="Codigo" name="codigo"/>
    <input type="text" id="descricao" placeholder="descricao" name="descricao"/>
    <button id="btnSend">Enviar</button>
</body>
<script>
    function sendUser(){
        var codigo = document.getElementById('codigo').value
        var descricao = document.getElementById('descricao').value

        var data = {
            codigo: codigo,
            descricao: descricao,
        }

        const response = fetch('http://localhost:3000/categoria', {
            method: 'POST',
            headers:{
                'Content-Type' : 'Application/Json'
            },
            body: JSON.stringify(data)
            
        })
    }

    document.getElementById('btnSend').addEventListener('click', () => sendUser())
</script>
</html>