<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Produtos</title>
</head>
<body>
    <h1>CRUD Produtos</h1>
    <input type="text" id="codigo" placeholder="Código" name="codigo"/>
    <input type="text" id="descricao" placeholder="descricao" name="descricao"/>
    <input type="text" id="codCategoria" placeholder="codCategoria" name="codCategoria"/>
    <input type="text" id="codClassificacao" placeholder="codClassificacao" name="codClassificacao"/>
    <input type="text" id="codMarca" placeholder="codMarca" name="codMarca"/>
    <input type="text" id="preco" placeholder="preco" name="preco"/>
    <input type="text" id="foto1" placeholder="foto1" name="foto1"/>
    <br><br>
    <button id="btnSend">Enviar</button>
    <button id="btnDelete">Excluir</button>
    <button id="btnAlterar">Editar</button>
    <button id="btnPesquisar">Pesquisar</button>
</body>
<script>

    

    // ENVIAR
    // ----------------------------------------------------------------------------------------------------------------------------------
    function sendUser(){
        var codigo = document.getElementById('codigo').value;
        var descricao = document.getElementById('descricao').value;
        var codCategoria = document.getElementById('codCategoria').value;
        var codClassificacao = document.getElementById('codClassificacao').value;
        var codMarca = document.getElementById('codMarca').value;
        var preco = document.getElementById('preco').value;
        var foto1 = document.getElementById('foto1').value;

        var data = {
            codigo: codigo,
            descricao: descricao,
            codCategoria: codCategoria,
            codClassificacao: codClassificacao,
            codMarca: codMarca,
            preco: preco,
            foto1: foto1,
        };

        console.log("Dados a serem enviados:", data);

        fetch('http://localhost:3000/produto', {
            method: 'POST',
            headers:{
                'Content-Type' : 'application/json'
            },
             body: JSON.stringify(data)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Erro na resposta da rede.');
            }
            return response.json();
        })
        .then(data => {
            console.log('Success:', data);
            alert("Marca enviada com sucesso.");
        })
        .catch((error) => {
            console.error('Erro:', error);
            alert("Ocorreu um erro ao enviar a marca.");
        });
    }



    // DELETAR
    // ----------------------------------------------------------------------------------------------------------------------------------
    function deleteUser(){
        var codigo = document.getElementById('codigo').value;

        if (!codigo) {
            alert("Por favor, insira um código para excluir.");
            return;
        }

        fetch(`http://localhost:3000/produto?codigo=${codigo}`, {
            method: 'DELETE',
            headers:{
                'Content-Type' : 'application/json'
            },
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Erro na resposta da rede.');
            }
            return response.json();
        })
        .then(data => {
            console.log('Success:', data);
            alert("Marca excluída com sucesso.");
        })
        .catch((error) => {
            console.error('Erro:', error);
            alert("Ocorreu um erro ao excluir a marca.");
        });
    }


    // EDITAR
    // ----------------------------------------------------------------------------------------------------------------------------------
    function updateUser(){
        var codigo = document.getElementById('codigo').value;
        var descricao = document.getElementById('descricao').value;
        var codCategoria = document.getElementById('codCategoria').value;
        var codClassificacao = document.getElementById('codClassificacao').value;
        var codMarca = document.getElementById('codMarca').value;
        var preco = document.getElementById('preco').value;
        var foto1 = document.getElementById('foto1').value;


        fetch(`http://localhost:3000/produto?codigo=${codigo}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({descricao: descricao})
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Erro na resposta da rede.');
            }
            return response.json();
        })
        .then(data => {
            console.log('Success:', data);
            alert("Marca atualizada com sucesso.");
        })
        .catch((error) => {
            console.error('Erro:', error);
            alert("Ocorreu um erro ao atualizar a marca.");
        });
    }


    // PESQUISAR
    // ----------------------------------------------------------------------------------------------------------------------------------
    function searchUser() {
    var codigo = document.getElementById('codigo').value;
    var descricao = document.getElementById('descricao').value;
    var codCategoria = document.getElementById('codCategoria').value;
    var codClassificacao = document.getElementById('codClassificacao').value;
    var codMarca = document.getElementById('codMarca').value;
    var preco = document.getElementById('preco').value;
    var foto1 = document.getElementById('foto1').value;

    var url = new URL('http://localhost:3000/produto');
    if (codigo) url.searchParams.append('codigo', codigo);
    if (descricao) url.searchParams.append('descricao', descricao);
    if (codCategoria) url.searchParams.append('codCategoria', codCategoria);
    if (codClassificacao) url.searchParams.append('codClassificacao', codClassificacao);
    if (codMarca) url.searchParams.append('codMarca', codMarca);
    if (preco) url.searchParams.append('preco', preco);
    if (foto1) url.searchParams.append('foto1', foto1);

    fetch(url, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Erro na resposta da rede.');
        }
        return response.json();
    })
    .then(data => {
        console.log('Success:', data);
        alert("Categorias encontradas: " + JSON.stringify(data));
    })
    .catch((error) => {
        console.error('Erro:', error);
        alert("Ocorreu um erro ao buscar as categorias.");
    });
}


    document.getElementById('btnSend').addEventListener('click', sendUser);
    document.getElementById('btnDelete').addEventListener('click', deleteUser);
    document.getElementById('btnAlterar').addEventListener('click', updateUser);
    document.getElementById('btnPesquisar').addEventListener('click', searchUser);
</script>
</html>
